body {
  background-image: url("../../static/image/개 화면.png");
  font-size: 10px;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  list-style: none;
  text-decoration: none;
}

/* loading-UI */
.result-page {
  display: none;
}

@keyframes spinner-original {
  to {
    transform: rotate(360deg);
  }
}

/* font-family */
@font-face {
  font-family: "ghanachoco";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MapoPeacefull";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.spinner-original:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner-original 0.6s linear infinite;
}

/* progress bar */

.prog {
  height: 25px;
  width: 500px;
  background: #c4c4c4;
  border-radius: 7px;
}
.progs {
  border-radius: 7px;
  width: 10%;
  height: 25px;
  background: black;
  color: #fff;
  text-align: center;
  line-height: 25px;
}

.dog-container {
  text-align: center;
  padding: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}
.dog-title {
  font-size: 2.4rem;
  /* width: 40%; */
  font-family: "ghanachoco";
  color: brown;
  padding: 3%;
}

.dog-image img {
  width: 300px;
  height: 300px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.dog-content {
  font-size: 2rem;
  font-family: "MapoPeacefull";
  color: brown;
  padding: 3%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .dog-container {
    padding: 5% 3% 3% 5%;
  }
  .dog-title {
    padding: 3%;
    font-size: 1.6rem;
  }
  .dog-image img {
    width: 200px;
    height: 200px;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
