{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/DIS.css' %}">
    <title>만든사람들</title>
</head>
<body>
<audio autoplay> <source src="../../static/image/helloaudio.mp3" type="audio/mp3"> </audio>
<!-- <div class="gif">
    <img src="static/image/DIS 소개.gif">
</div> -->
<div class="dis-container">
<div class="text-wrapper">
    <div class="title">We are,,,"Dog in the street!</h1>

    <a href="https://github.com/dog-in-the-street/DIS_alien_quiz-2">GITHUB</a>
    <a href="https://delightful-frigate-31b.notion.site/Dog-in-the-street-077c7287bfba44c3a2d60b36160dfb9a">Team Profile</a>

    <a href="{% url 'index' %}" class="exit">나가기</a>
</div>
</div>
    
</body>
</html>
    