{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/DIS.css' %}">
    <title>만든사람들</title>
</head>
<body>
<audio autoplay> 
    <source src="../../static/image/helloaudio.mp3" type="audio/mp3"> 
</audio>
<div class="image-container">
<div id="gif">
    <img src="static/image/DIS 소개.gif" alt="개발자 소개 움짤" title="개발자 이미지">
</div>

<div class="text">
    <div class="title">We are,,,"Dog in the street!"</div>

    <a href="https://github.com/dog-in-the-street">GITHUB</a>
    <a href="https://www.notion.so/c2de0d8736024bbca48a2d069fe9aeaa">NOTION</a>

    <a href="{% url 'result' %}" class="exit">나가기</a>
</div>
</div>
</body>
</html>
    