{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>외계인이 알려주는 나의 전생</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css'%}" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<body>
    <div class="quiz-container">
        
        <!-- 반복문으로 질문과 선택지 나열 
        해당 선택지를 누르면 링크에서 선택지에 해당하는 점수를 views로 넘겨줌.-->

        <form action="{% url 'result' %}" method="POST" class="quiz-form">
            {% csrf_token %}
        <!-- 1번부터 9번까지 선택하는 인풋 -->
        {% for question in questions %}
            {% if question.id < 10 %}
                <div class="quiz-contents">
                    <div class="question-title">{{ question.question }}</div>
                   
                        <label> <div class="question-choice"><input class="option" type="checkbox" name='selected[]' value="{{ question.score1 }}"/>{{question.option1 }}</div></label>
                        <label> <div class="question-choice"><input class="option" type="checkbox" name='selected[]' value="{{ question.score2 }}" />{{ question.option2 }}</div></label>
                        <label> <div class="question-choice"><input class="option" type="checkbox" name='selected[]' value="{{ question.score3 }}" />{{ question.option3 }}</div></label>
                        <label> <div class="question-choice"><input class="option" type="checkbox" name='selected[]' value="{{ question.score4 }}" />{{ question.option4 }}</div></label>
                    
                    </div>
            <!-- 마지막 10번 질문의 인풋은 바로 누르자말자 submit 되도록 input type을 submit로 -->
            {% else %}
                <div class="quiz-contents">
                  <div class="question-title">{{ question.question }}</div>
                    <label> <div class="question-choice"><input class="option" type="submit" name='selected[]' value="{{ question.score1 }}"/>{{ question.option1 }}</div></label>
                    <label> <div class="question-choice"><input class="option" type="submit" name='selected[]' value="{{ question.score2 }}"/>{{ question.option2 }}</div></label>
                    <label> <div class="question-choice"><input class="option" type="submit" name='selected[]' value="{{ question.score3 }}"/>{{ question.option3 }}</div></label>
                    <label> <div class="question-choice"><input class="option" type="submit" name='selected[]' value="{{ question.score4 }}"/>{{ question.option4 }}</div></label>
                 </div>
            {% endif %}
      
       {% endfor %}
    
        </form>
        <!-- jquery import -->
        <script src="https://code.jquery.com/jquery-latest.js" ></script>
        <!-- js file import -->
        <script src="{% static 'js/quiz.js' %}"></script>
    </div>

   
</body>
</html>